/*global*/
a {
  text-decoration: none !important;
}

/*Collection List*/
.card__media .media img {
  object-fit: contain !important;
}
.product-card-wrapper .card__inner {
  height: 160px;
}
.media--transparent {
  background-color: white;
}

/*variant selector*/
.product-form__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color_option {
  width: 80px;
  height: 80px;
  border-radius: 0px !important;
  display: flex !important;
  align-items: center;
  padding: 4px !important;
  background-color: white !important;
}
.color_option img {
  background-color: white;
  max-width: 100%;
}
.color_option_selected {
  border: 2px solid black !important;
}

/*product*/
.product-media-container {
  border: 0px !important;
}
.thumbnail img {
  object-fit: contain !important;
}
.product__tax {
  display: none;
}
legend.form__label {
  text-align: center;
}


/*breadcrumbs*/

.sp-breadcrumb {
  padding: 0;
  font-size: 13px
}

.sp-breadcrumb i {
  margin: 0 8px
}

.sp-single .sp-breadcrumb {
  line-height: 1.4
}

.sp-breadcrumb a {
  text-decoration: none;
  color: #000
}


/*collection*/

.facet-checkbox__color {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block !important;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}


/*title*/

h1.title--primary,
h2.blog__title,
h2.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}

h1.title--primary:before,
h1.title--primary:after,
h2.blog__title:before,
h2.blog__title:after,
h2.title:before,
h2.title:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #222;
  margin: 0 1rem;
}

.title-wrapper-with-link{
  display: flex;
    justify-content: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 1.5rem;
}